* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(160deg, #030911 0%, #0a1a2b 40%, #123457 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    background: #142d4a;
    padding: 25px;
    border-radius: 13px;
    max-width: 350px;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#display {
    background-color: hsl(212, 57%, 25%);
    color: #fff;
    margin-bottom: 16px;
    border: none;
    outline: none;
    width: 100%;
    padding: 20px;
    font-size: 2rem;
    border-radius: 10px;
    text-align: right;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    height: 60px;
    color: #fff;
    background-color: hsl(211, 53%, 15%);
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
}

.ac-btn {
    grid-column: span 3;
}

button:hover {
    background-color: hsl(211, 53%, 20%);
}

button:active {
    background-color: hsl(211, 53%, 30%);
}

.operator-btn {
    background-color: hsl(39, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(39, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(39, 100%, 75%);
}